<h1>Offers</h1>

<% if defined? @api_error %>
<div class="alert">
  An API error occurred: <%= @api_error %>
</div>
<% end %>

<%= render 'form' %>

<% if @offers.any? %>

<%= render partial: 'offer', collection: @offers %>

<% else %>

<div class="no_offers">
  No offers
</div>

<% end %>
