<h1>Offers</h1>

<%= render 'layouts/flash' %>

<%= render 'form' %>

<% if @offers.any? %>
  <%= render partial: 'offer', collection: @offers %>
<% else %>
  <div class="no_offers">
    No offers
  </div>
<% end %>
