<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <ul>
        <li><%= msg %></li>
      </ul>
  </div>
<% end %>